@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "DM Sans", system-ui, sans-serif;
}

body {
  @apply bg-slate-50 text-slate-900 min-h-screen;
}

.leaflet-container {
  z-index: 0;
  font-family: inherit;
}
